#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  margin: auto;
}

img.that-was-easy-img {
  height: 300px;
  width: 300px;
  filter: drop-shadow(0px 0px 5px #000);
}

img.that-was-easy-img:active {
  filter: none;
  opacity: 100%;
}

img.that-was-easy-img:hover {
  opacity: 90%;
}